@import url('https://fonts.cdnfonts.com/css/cocogoose'); /* Fonte Utilizada */

* {
    margin: 0;
    padding: 0;
}

@media (max-width: 750px){
    .botao {
        z-index: 1;
        display: block;
    }

    .nav-list {
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        pointer-events: none;
        top: 0;
        left: 0;
        gap: 0;
        width: 100%;
        height: 100%;
        background: #e98f6efc;
        clip-path: circle(100px at 90% -15%);
        transition: 0.5s ease-out;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(2) a{
        transition: 0.7s 0.4s;
    }
    .nav-list li:nth-child(3) a{
        transition: 0.7s 0.4s;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }
}

a { 
    font-family: 'COCOGOOSE', sans-serif;
    text-decoration: none;
}

header {
    background: #e98f6efc; /* Cor do fundo da nav*/
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-list a {
    font-size: 20px;
    color: #fff;
    padding-bottom: 16px;
    transition: background-color 0.3s ease-in, padding 0.3s ease-in, border-radius 0.3s ease-in;
    text-shadow: 0 3px 3px rgba(0,0,0,0.25);
}
/* Botao com "3 linhas" */

.botao { 
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.botao::before,
.botao::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
}

/* Animação "Simples para links */
.nav-list a:hover {
    background-color:#ff6f4f; /* Cor do fundo da animação do botão*/
    padding: 15px;
    border-radius: 15px;
}
